:root {
  --blue: #2874f0;
  --white: white;
}

.Products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  height: 100%;
}

.Products h2 {
  font-weight: 400;
}

.Products p {
  max-width: 500px;
  margin: auto;
  font-weight: 300;
}

.Product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.ProductImage {
  width: 100%;
  position: relative;
}

.AddToCart {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, -50%);
  background-color: var(--blue);
  color: var(--white);
  padding: 6px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
}

.AddToCart:hover {
  opacity: 1;
  transition: 0.2s;
}

.ProductImage > img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ProductDetails {
  width: 100%;
}

.ProductDetails h5 {
  margin-bottom: 0 !important;
}

@media (max-width: 768px) {
  .Products {
    padding: 10px;
  }
  .ProductDetails p {
    font-size: small;
  }
  .ProductImage > img {
    width: 50%;
    height: 50%;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .Products h5 {
    font-size: medium;
  }
  svg {
    font-size: 1rem !important;
  }
  .AddToCart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    opacity: 1;
    padding: 5px 20px;
  }
}

@media (max-width: 500px) {
  .Products {
    padding: 0;
  }
}

.container {
  padding: 0 !important;
}

.container > h2 {
  font-weight: 400;
}

.container > p {
  font-weight: 300;
  margin: auto;
}
